* {
    box-sizing: border-box;
}

.title {
    background-image: linear-gradient(to right, rgb(81, 226, 245, 1), rgb(157, 249, 239, .814), rgb(255, 168, 182, .84), rgb(162, 128, 137, 0.84));
}

.btn {
    background-color: rgb(81, 226, 245, 1);
    display: block;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(255, 168, 182, .84);            
}

.btn:hover {
    background-image: linear-gradient(rgb(157, 249, 239, .814),rgb(255, 168, 182, .84) 50%);
}